.gitconfig
.gitconfigs/
**local**
**log**
.tmux/plugins/
.config/Code/**
.config/google-chrome/**
.DS_Store
.config/autostart
.config/Android*
.config/dconf
.config/evolution
.config/flutter
.config/goa-1.0
.config/Google
.config/gtk-3.0
.config/gtk-4.0
.config/google-chrome
.config/ibus
.config/pulse
.config/ulauncher
.config/.gsd-keyboard*
.config/gnome*
.config/mimeapps.list
.config/monitors*
.config/user-dirs*
.config/jgit
.config/mozc
.config/albert
.config/nautilus
.config/Code
.config/update-notifier
albert.conf
ibus-mozc-gnome-initial-setup-done


!/.tmux/.tmux.conf.local